<div id="custom-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="custom-form">
            <label for="name">Inscrivez-vous</label>
            <input type="text" id="name" name="name" placeholder="Nom">
            <button type="submit" class="btn-ok">OK</button>
        </form>
    </div>
</div>
